.DS_Store
node_modules
/dist
# 罗列的是忽略文件


# 本地配置文件
.env.local
.env.*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器以及文件
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
